<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="1" >
	<parameter name="url" value="https://www.linkedin.com" />
	<parameter name="email" value="XXX" />
	<parameter name="password" value="XXX" />
	<parameter name="key" value="XXX" />
	<parameter name="country" value="XXX" />
	<test name="testLogIn">
		<classes>
			<class name="example.NewTest">
			</class>
		</classes>
	</test>
</suite>
